*{
  box-sizing: border box;
}

body,html{
  padding: 0px;
  margin: 0px;
  font-family: Garamond, serif;
}

p{
  text-align: justify;
}
body{
  background-color: black;
  color: white;
}

h1{
  text-align: center;
}

.photo1{
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: 500px;
 width:1000px;
}

.intro{
padding-left: 300px;
padding-right: 300px;
  text-align: justify;
}

.lineup{
text-align: center;
}
.cat1{
  display:inline-block;
  height:200px;
  width:250px;
}

.space{
  display:inline-block;
  height:200px;
  width:150px;
}

.cat2{
  display:inline-block;
  height:200px;
  width:200px;
}

.all{
  text-align: center;
}

.problem{
  display:inline-block;
  border: 5px solid black;
  outline: black solid 5px;
  padding: 20px;
  width:700px;
  height:700px;
}

.facts{
  display:inline-block;
  border: 5px solid white;
  outline: black solid 5px;
  padding: 20px;
  width:300px;
  height:700px
}

.wtitle{
  display:inline-block;
  padding: 5px;
  width:1094px;
  height:60px;
  background-color: white
}

.wtitle2{
  display:inline-block;
  border: 2px solid black;
  outline: white solid 5px;
  padding: 20px;
  width:1050px;
  height:20px;
}

.experience{
  display:inline-block;
  border: 2px solid black;
  outline: white solid 5px;
  padding: 20px;
  width:1050px;
  height:330px;
}

.promotion{
  display:inline-block;
  padding: 20px;
  width:700px;
  height:700px;
}

.ins{
  display:inline-block;
  border: 2px solid black;
  outline: white solid 5px;
  padding: 20px;
  width:300px;
  height:600px;
}

.shop{
  display:inline-block;
  border: 2px solid black;
  outline: black solid 5px;
  padding: 20px;
  width:420px;
  height:500px;
}

.young{
  display:inline-block;
  border: 2px solid black;
  outline: white solid 5px;
  padding: 20px;
  width:580px;
  height:500px;
}

.conclusion{
  display:inline-block;
  outline: white solid 10px;
  padding: 5px;
  width:1080px;
  height:200px;
  background-color: white;
}

.black{
  color:black;
}

.cute{
  display: inline-block;
  width: 300px;
}

.cute2{
  display: inline-block;
  width: 300px;
}
